<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/title') %>
</head>
<body class="container">

<header>
    <%- include('../partials/header') %>
</header>

<main>
    <div class="jumbotron">
        <h1>Get your product detail by link</h1>

        <form action="/product" method="post">
          <label for="product_link">Input link: </label>
          <input id="product_link" type="text" name="link" placeholder="Place your link here">
          <input type="submit" value="Search Product">
        </form>

    </div>
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>
